body{
    background-color: whitesmoke;
    justify-content: center;
    display: flex;
    background: linear-gradient(to right, #74ebd5, #acb6e5);

}
.container{ 
    position: absolute;
    color: rgb(21, 5, 88);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  background-color: azure;
}
ul li{
    display: flex;
    float: left;
}
ul li a{
    display: block;
    padding: 14px 16px;

}
button{
    justify-content: flex-end;
    padding-left: 10px;
}
.logo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: flex-start;
    box-shadow: #74baeb;
}
.logo:hover{
    box-shadow: #74ebd5;
    
}